

.card{
    border: 1px solid #000;
    padding: 5rem;
    margin: 3rem;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.card #num {
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px 10px;
    display: none;
    flex: 1;
    

}

.card button{
    border-radius: 8px;
    padding: 20px;
    font-size: 1rem;
    margin: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.card .btn-start{
    background-color: green;
    color: #fff;
    
}

.card .btn-guess{
    background-color: rgb(41, 69, 230);
    color: #fff;
    display: none;
}

.card #result{
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 30px;;
}